<h2>Novo Lote</h2>

<% if(@lot.errors.any?) %>
	<p>Verifique os erros abaixo:</p>
	<ul>
		<% @lot.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_with(model: @lot) do |f| %>
	<div>
		<%= f.label :code %>
		<%= f.text_field :code %>
	</div>
	<div>
		<%= f.label :start_date %>
		<%= f.date_field :start_date %>
	</div>
	<div>
		<%= f.label :end_date %>
		<%= f.date_field :end_date %>
	</div>
	<div>
		<%= f.label :minimum_value %>
		<%= f.number_field :minimum_value %>
	</div>
	<div>
		<%= f.label :minimal_difference %>
		<%= f.number_field :minimal_difference %>
	</div>
	</div>
	<div>
		<%= f.submit 'Enviar' %>
	</div>
<% end %>